.sample1{
    display: flex;
    border: 5px inset red;
    justify-content: space-around;
    border-radius:10px;
}
.item1{
    font-size: 32px;
    
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;

    border-radius:50px;
    padding-left: 5px;
    padding-right: 5px;
    background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	background-image: linear-gradient(135deg, #fff, #fff), linear-gradient(135deg, #ffcc99, #814e38);
    border: 5px transparent solid;
    
}

.sample2{
    border: 5px double green;
    display: flex;
    justify-content: space-between;
    border-radius:10px;
}
.item2{
    border: 5px inset red;
    font-size: 32px;

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;

    border-radius:10px;

}

.sample3{
    border: 5px dotted wheat;
    display: flex;
    justify-content: center;
    border-radius:50px;
}
.item3{
    border: 5px double whitesmoke;
    font-size: 32px;

    padding-left: 5px;
    padding-right: 5px;

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;

    border-radius:10px;

}